@{
  Layout = "_Layout";
}

<a href ="/" class="btn btn-info">Home</a>

<h2>Recipes</h2>

@foreach (var recipe in Model)

{
  <li><a href="/recipes/@recipe.GetId()">@recipe.GetName()</a>: @recipe.GetRating() stars</li>
}
