@{
  Layout = "_Layout";
}


<form action="/category-added" method="post">
  <label for="category-name">Enter the category name</label>
  <input name="category-name" type="text">
  <button type="submit" class="btn btn-success">Add</button>

</form>
