@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Recipe Box</h1>
</div>

<a href ="/category-form" class="btn btn-info">Add Category</a>
<a href ="/recipes/all" class="btn btn-info">All Recipes</a>
<a href="/ingredients/all" class="btn btn-info">All Ingredients</a>


@foreach(var category in Model)
{
  <ul>
    <li><a href="/categories/@category.GetId()">@category.GetName()</a></li>
  </ul>
}
