@{
  Layout = "_Layout";
}


<form action="/recipe/@recipe.GetId()" method="post">
  <label for="recipe-name">Enter the category name</label>
  <input name="category-name" type="text">
  <button type="submit" class="btn btn-success">Add</button>

</form>
